.oldfont {
    font-family: "Iosevka Term Slab", serif;
    -moz-osx-font-smoothing: unset;
    -webkit-font-smoothing: none;
    font-smooth: never;
    text-rendering: unset;
}

.mf-nav {
    background-color: transparent;
    height: 5em;
}

body {
    background: black url("img/bicycles.png") repeat;
    color: white;
}

.hub {
    background-color: #FF9900;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin-left: 2px;
}

.mf-link {
    color: #c0c0c0;
    text-decoration: underline;
    text-decoration-style: dotted;
}

.mf-link:hover,
.mf-link:focus {
    color: white;
    text-decoration: underline;
}

.mf-start-button {
    padding: 1em;
    font-size: 1.5em;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    margin-bottom: 0.5em;
}

.mf-start-button:hover {
    background-color: white;
    color: black;
}