* {
    font-family: 'Jost', sans-serif;
}

html {
    background-color: #fcfcfc;
}

body {
    margin: 0 !important;
    padding: 2em;
}

.block {
    padding: 1em;
    background-color: #fff;

    box-shadow: 0 0 10px #f0f0f0;
    border-radius: .5em;

    margin-bottom: 1em;
}

.block p {
    margin: .1em;
    line-height: 1.5em;
}

.block .block-footer {
    width: 100%;
    margin-bottom: 0;

    border-top: 1px solid #f0f0f0;
    margin-top: .5em;

    padding: .2em 0;
}

.block-footer .btn-footer {
    outline: none;
    border: none;

    background-color: #fff;

    padding: .2em;

    box-shadow: none;
    color: #666;
}

.block-footer .btn-footer:hover {
    color: #000;
    cursor: pointer;
}

.red {
    color: #d96b5f !important;
}

.red:hover {
    color: #ff503b !important;
}

.blue {
    color: #5fa4d9 !important;
}

.blue:hover {
    color: #3b83ff !important;
}

.green {
    color: #5fa743 !important;
}

.green:hover {
    color: #27b019 !important;
}

.yellow {
    color: #b9bc4c !important;
}

.yellow:hover {
    color: #c1c60b !important;
}

.center-container {
    margin-right: auto;
    margin-left: auto;
    width: 30vw;
}

.input-text {
    border: none;
    outline: none;
    background: transparent;

    font-size: 2em;

    padding: .2em;
    margin-bottom: .5em;
}

.right {
    float: right;
}

.empty-text {
    color: #999 !important;
    font-weight: 400 !important;

    padding: .2em !important;

    font-style: italic;
}